

<form hx-post="/gradijentRijesenje">
    <div class="stupac">
        <div class="poravnaj">
            <h5>f(x,y) = </h5>
            <input type="text" name="jednadba" id="">
        </div>
        <div class="poravnaj">
            <h5>T0 = </h5>
            <h5>(</h5>
            <input type="text" name="tocka" id="">
            <h5>,</h5>
            <input type="text" name="tocka" id="">
            <h5>)</h5>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-self: center;">
        <button type="submit" class="centriraj">Podnesi zadatak</button>
    </div> 
</form>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Postupak
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <ol>
          <li>
            <p>Prvo šta trebaš je uzeti jednadžbu iz zadatka i derivirati ju po X i po Y. Nakon što deriviraš uneseš X i Y iz točke T0 i dobiješ rezultat koji upisuješ u točke</p>
            <div>
              <p>Primjer Zadatka bi bio:</p>
              <img src="/images/gradijent/slika.PNG" alt="">
            </div>
          </li>
          <li>
            <p>Nakon što deriviraš to po X i po Y dobiješ:</p>
              <div class="poravnaj">
                <p class="margina-mala">Po X -> Sin(x)</p>
                <p class="margina-mala">po Y -> 10y</p>
              </div>
          </li>
          <li>
            <p>Nakon toga uneseš X i Y od točke gore koju si dobio navedenu u zadatku. U ovome primjeru je: </p>
              <img src="/images/gradijent/Capture.PNG" alt="">
              <div>
                <p>Ako uneseš točku u jednadžbu dobivaš:</p>
                <p>Sin(-π/2)</p>
                <p>10 * 5</p>
                <p>I dobiješ da ti je X točka -1, a Y točka da je 50</p>
              </div>
          </li>
          <li>
            <p>Kada imaš tu točku izračunatu, Uneseš X iz te točke na mjesto I, a Y iz točke uneseš na J. Kada to zapišeš, broj koji dobiješ ti je rezultat</p>
            
          </li>
        </ol>
      </div>
    </div>
  </div>