<form hx-post="/kol1rijesi5" class="stupac" hx-target="#rijesi">
    <div class="poravnaj">
        <h6>p... r=(</h6>
        <input type="text" name="jednadba" id="">
        <h6>,</h6>
        <input type="text" name="jednadba" id="">
        <h6>,</h6>
        <input type="text" name="jednadba" id="">
        <h6>)</h6>
    </div>
    <div class="poravnaj margina-mala">
        <div class="centriraj">
            <div class="">
                <div class="poravnaj">
                    <h5 class="margina-mala">X</h5>
                    <input type="text" name="kanonskaGore" id="">
                </div>
                <hr>
                <input type="text" name="kanonskaDolje" id="">
            </div>
        </div>
        <h5>=</h5>
        <div class="centriraj">
            <div class="">
                <div class="poravnaj">
                    <h5 class="margina-mala">Y</h5>
                    <input type="text" name="kanonskaGore" id="">
                </div>
                <hr>
                <input type="text" name="kanonskaDolje" id="">
            </div>
        </div>
        <h5>=</h5>
        <div class="centriraj">
            <div class="poravnaj">
                <h5 class="margina-mala">Z</h5>
                <input type="text" name="kanonskaGore" id="">
            </div>
            <hr>
            <input type="text" name="kanonskaDolje" id="">
        </div>
    </div>
    <button type="submit">Podnesi</button>
</form>
<div id="rijesi"></div>