<p hx-get="/kolokvij1PrviZadatak" hx-target="#glavni-prozor" class="navigacijski-zadatak"><span>Zadane su točke</span></p>
<p hx-get="/kolokvij1DrugiZadatak" hx-target="#glavni-prozor" class="navigacijski-zadatak"><span>Zadana je ravnina</span></p>
<p hx-get="/kolokvij1TreciZadatak" hx-target="#glavni-prozor" class="navigacijski-zadatak"><span>Zadan je pravac vektorom smjera i točkom</span></p>
<p hx-get="/kolokvij1CetvrtiZadatak" hx-target="#glavni-prozor" class="navigacijski-zadatak"><span>Zadan je pravac i pravac koji prolazi točkom</span></p>