<form hx-post="/rijesiKruznicu" hx-target="#rijesenje">
    <div class="centriraj">
        <div class="centriraj">
            <h5>Jednadba kruznice(x,y) jednaka je</h5>
            <input type="text" name="jednadba" id="">
        </div>
        <div>
            <h5>Cemu je jednaka kruznica: </h5>
            <input type="text" name="jednakost" id="">
        </div>
        <button type="submit">Podnesi zadatak</button>
        <button type="submit">test</button>
    </div> 
</form>
<div id="rijesenje"></div>
<div class="accordion accordion-flush margina-mala" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Postupak
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <ol>
            <li>
                <p>U ovome zadatku imamo dvije "Jednadžbe", jednadžbu kružnice i jednadžbu temperature. To trebamo sve svesti u jednu jednadžbu sa lambda</p>
                  <figure>
                    <figcaption>Jednadžba Kružnice</figcaption>
                    <img src="/images/kruznica/Capture.PNG" alt="">
                  </figure>
                  <figure>
                    <figcaption>Jednadba rezultata</figcaption>
                    <img src="/images/kruznica/jednakost.PNG" alt="">
                  </figure>
            </li>
            <li>
                 <p>Prvo jednadžbu kružnice izjednači sa nulom(prebaci sve na lijevu stranu). U ovome slučaju:</p>
                  <h6>X<sup>2</sup>+ Y<sup>2</sup> = 98 -> X<sup>2</sup>+ Y<sup>2</sup> -98</h6>
            </li>
            <li>
                <p>Kada to napraviš to moraš napisat u oblik sa lambdom(L(x,y,λ)=<u>Temperaturna jednadba</u> + λ(<u>Jednadba kruznice</u>))</p>
                  <p>Primjer bi bio:</p>
                  <div>
                    <h6>L(x,y,λ) = -3x + 2y -3 + λ(X<sup>2</sup>+ Y<sup>2</sup> -98)</h6>
                  </div>
            </li>
            <li>
                <p>Nakon što to odradiš ti ide deriviranje po X, Y i λ. Primjer ovog deriviranja bi bio</p>
                <p>Po X -> 2λx-3</p>
                <p>Po Y -> 2λy+2</p>
                <p>Po λ -> X<sup>2</sup>+ Y<sup>2</sup> -98</p>
            </li>
        </ol>
        </div>
      </div>
    </div>
  </div>