<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematika Kalkulator</title>
    <link rel="icon" href="/images/icons/icons8-anonymous-mask-windows-11-color-16.png">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div hx-get="/prvi-kolokvij-navigacija">
            Prvi Kolokvij
        </div>
        <div hx-get="/drugi-kolokvij-navigacija">
            Drugi Kolokvij
        </div>
        <div hx-get="/treci-kolokvij-navigacija">
            Treci Kolokvij
        </div>
        <div hx-get="/ispit_navigacija" hx-target="#mala-navigacija">
            Ispit
        </div>
    </nav>
    <div id="main-window">
        <main id="glavni-prozor">
        
        </main>
        <aside id="mala-navigacija">
            Pored
        </aside>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</html>