<p hx-get="/IspitPrviZadatak" hx-target="#glavni-prozor" class="navigacijski-zadatak"><span>Volumen Paralelepipeda</span></p>
<p hx-get="/IspitDrugiZadatak" hx-target="#glavni-prozor" class="navigacijski-zadatak" hx-switch="innerHTML"><span>Dva mimoilazna pravca</span></p>
<p hx-get="/IspitTreciZadatak" hx-target="#glavni-prozor" class="navigacijski-zadatak"><span>Globalni Minimum i maksimum dužine</span></p>
<p hx-get="/IspitCetvrtiZadatak" hx-target="#glavni-prozor" class="navigacijski-zadatak"><span>Zadana je ploha</span></p>
<p hx-get='/gradijentFunkcije' hx-target="#glavni-prozor" class="navigacijski-zadatak">Gradijent Funkcije</p>
<p hx-get='/Kruznica' hx-target="#glavni-prozor" class="navigacijski-zadatak">Zadana je kruznica</p>
<p hx-get="/polinom" hx-target="#glavni-prozor" class="navigacijski-zadatak">Zadan je polinom</p>