<form hx-post="/IspitDrugiRijesenje" hx-target="#rijesenje">
    <div>
        <div class="poravnaj-around centriraj margina-mala">
            <div class="margina-mala">
                <h5>p1...</h5>
            </div>
            <div class="poravnaj">
                <div class="stupac">
                    <div class="margina-mala poravnaj bottom-border padding-mali">
                        X <span><input type="number" name="tocka1" id="" class="padding-mali"></span>
                    </div>
                    <div class="margina-mala poravnaj">
                        <input type="number" name="smjer1" id="" class="padding-mali">
                    </div>
                </div>
                <div class="margina-mala">=</div>
                <div class="stupac">
                    <div class="margina-mala poravnaj bottom-border padding-mali">
                        Y <span><input type="number" name="tocka1" id="" class="padding-mali"></span>
                    </div>
                    <div>
                        <input type="number" name="smjer1" id="" class="padding-mali">
                    </div>
                </div>
                <div class="margina-mala">=</div>
                <div class="stupac">
                    <div class="margina-mala poravnaj bottom-border padding-mali">
                        Z <span><input type="number" name="tocka1" id="" class="padding-mali"></span>
                    </div>
                    <div>
                        <input type="number" name="smjer1" id="" class="padding-mali"> 
                    </div>
                </div>
            </div>
        </div>
        <div class="poravnaj-around centriraj margina-mala">
            <div class="margina-mala">
                <h5>p2...</h5>
            </div>
            <div class="poravnaj">
                <div class="stupac">
                    <div class="margina-mala poravnaj bottom-border padding-mali">
                        X <span><input type="number" name="tocka2" id="" class="padding-mali"></span>
                    </div>
                    <div class="margina-mala poravnaj">
                        <input type="number" name="smjer2" id="" class="padding-mali">
                    </div>
                </div>
                <div class="margina-mala">=</div>
                <div class="stupac">
                    <div class="margina-mala poravnaj bottom-border padding-mali">
                        Y <span><input type="number" name="tocka2" id="" class="padding-mali"></span>
                    </div>
                    <div>
                        <input type="number" name="smjer2" id="" class="padding-mali">
                    </div>
                </div>
                <div class="margina-mala">=</div>
                <div class="stupac">
                    <div class="margina-mala poravnaj bottom-border padding-mali">
                        Z <span><input type="number" name="tocka2" id="" class="padding-mali"></span>
                    </div>
                    <div>
                        <input type="number" name="smjer2" id="" class="padding-mali"> 
                    </div>
                </div>
            </div>
        </div>
        <div class="centriraj-djecu"><button type="submit">Izračunaj</button></div>
    </div>
</form>
<div id="rijesenje"></div>