
<form hx-post="/kol1Rijesi4" hx-target="#rijesi" hx-swap="innerHTML">
    <div>
        <div class="poravnaj">
            <h3>Ravnina...</h3>
            <div class="poravnaj margina-mala">
                <input type="number" name="ravnina" id="">
                <h2>X</h2>
                <input type="number" name="ravnina" id="">
                <h2>Y</h2>
                <input type="number" name="ravnina" id="">
                <h2>Z = </h2>
                <input type="number" name="ravnina" id="">
            </div>
        </div>
        <div class="poravnaj">
            <select name="ravnina" id="">
                <option value="1">Izračunajte volumen V tetraedra koji ravnina Π zatvara s koordinatnim osima</option>
                <option value="2">Izračunajte visinu v tetraedra na stranu koja leži u ravnini Π</option>
            </select>
        </div>
        <button type="submit">Podnesi</button>
    </div>
</form>

<div id="rijesi">

</div>