<div>
    <h4>Volumen je ${rezultat}</h4>
</div>
<div>
    <h4>Postupak</h4>
    <div class="poravnaj">
        <div class="poravnaj">
            <h6>(</h6>
            <h6>${prviVektor.x}</h6>
            <h6>,</h6>
            <h6>${prviVektor.y}</h6>
            <h6>,</h6>
            <h6>${prviVektor.z}</h6>
            <h6>)</h6>
        </div>
        <h5>x</h5>
        <div class="poravnaj">
            <h6>(</h6>
            <h6>${druigVektor.x}</h6>
            <h6>,</h6>
            <h6>${drugiVektor.y}</h6>
            <h6>,</h6>
            <h6>${drugiVektor.z}</h6>
            <h6>)</h6> 
        </div>
        <h5>*</h5>
        <div>
            <h6>(</h6>
            <h6>${treciVektor.x}</h6>
            <h6>,</h6>
            <h6>${trecoVektor.y}</h6>
            <h6>,</h6>
            <h6>${trecoVektor.z}</h6>
            <h6>)</h6>
        </div class="poravnaj">
        <h5>= ${rezultat}</h5>
    </div>
</div>
