<form hx-post="/vektorskiProdukt" hx-target="#nize" hx-swap="afterend">
    <div id="nize">
        <div class="cijeli-vektor">
            <h5>Vektor <h5 contenteditable="true">B</h5> = </h5>
            <div><h1>(</h1></div>
            <div><input type="number" name="Vektor1"></div>
            <div><h1>,</h1></div>
            <div><input type="number" name="Vektor1"></div>
            <div><h1>,</h1></div>
            <div><input type="number" name="Vektor1"></div>
            <div><h1>)</h1></div>
        </div>
        <div class="cijeli-vektor">
            <h5>Vektor <h5 contenteditable="true">C</h5> = </h5>
            <div><h1>(</h1></div>
            <div><input type="number" name="Vektor2"></div>
            <div><h1>,</h1></div>
            <div><input type="number" name="Vektor2"></div>
            <div><h1>,</h1></div>
            <div><input type="number" name="Vektor2"></div>
            <div><h1>)</h1></div>
        </div>
        <div class="centriraj"><button type="submit">Izračunaj</button></div>
    </div>
</form>