<form hx-post="/vektorskiProdukt" hx-target="#nadodavanje" hx-swap="afterend">
    <div id="nadodavanje">
        <div class="cijeli-vektor">
            <h5>Vektor <h5 contenteditable="true">B</h5> = </h5>
            <div><h1>(</h1></div>
            <div><input type="number" name="Vektor1"></div>
            <div><h1>,</h1></div>
            <div><input type="number" name="Vektor1"></div>
            <div><h1>,</h1></div>
            <div><input type="number" name="Vektor1"></div>
            <div><h1>)</h1></div>
        </div>
        <div class="cijeli-vektor">
            <h5>Vektor <h5 contenteditable="true">C</h5> = </h5>
            <div><h1>(</h1></div>
            <div><input type="number" name="Vektor2"></div>
            <div><h1>,</h1></div>
            <div><input type="number" name="Vektor2"></div>
            <div><h1>,</h1></div>
            <div><input type="number" name="Vektor2"></div>
            <div><h1>)</h1></div>
        </div>
        <button type="submit">Izračunaj</button>
    </div>
    
</form>
