
<form action="" hx-post="/IspitTreciRijesenje" hx-target="#rijesenje">
    <div class="stupac">
        <div class="poravnaj">
            <h5>f(x,y) = </h5>
            <input type="text" name="jednadba" id="">
        </div>
        <div class="stupac">
            <div class="poravnaj">
                <h5>A(</h5>
                <input type="number" name="PrvaTocka" id="">
                <h5>,</h5>
                <input type="number" name="PrvaTocka" id="">
                <h5>)</h5>
            </div>
            <div class="poravnaj">
                <h5>B(</h5>
                <input type="number" name="DrugaTocka" id="">
                <h5>,</h5>
                <input type="number" name="DrugaTocka" id="">
                <h5>)</h5>
            </div>
        </div>
        <div class="centriraj">
            <button type="submit">Izračunaj</button>
        </div>
    </div> 
</form>
<div id="rijesenje">

</div>