
<form action="" hx-post="/IspitTreciRijesenje" hx-target="#rijesenje">
    <div class="stupac">
        <div class="poravnaj">
            <h5>f(x,y) = </h5>
            <input type="text" name="jednadba" id="">
        </div>
        <div class="stupac">
            <div class="poravnaj">
                <h5>A(</h5>
                <input type="number" name="PrvaTocka" id="">
                <h5>,</h5>
                <input type="number" name="PrvaTocka" id="">
                <h5>)</h5>
            </div>
            <div class="poravnaj">
                <h5>B(</h5>
                <input type="number" name="DrugaTocka" id="">
                <h5>,</h5>
                <input type="number" name="DrugaTocka" id="">
                <h5>)</h5>
            </div>
        </div>
        <div class="centriraj">
            <button type="submit">Izračunaj</button>
        </div>
    </div> 
</form>
<div id="rijesenje">

</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Postupak
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
  </div>