
<form hx-post="/IspitCetvrtiZadatakRijesenje" hx-swap="afterend">
    <div>
        <div class="poravnaj">
            <h5>r(u,v) =</h5>
            <div class="poravnaj">
                <h5>(</h5>
                <input type="text" name="Jednadbe" id="">
                <h5>,</h5>
                <input type="text" name="Jednadbe" id="">
                <h5>,</h5>
                <input type="text" name="Jednadbe" id="">
                <h5>)</h5>
            </div>
        </div>
        <div class="poravnaj">
            <h5>T = </h5>
            <div class="poravnaj">
                <h5>(</h5>
                <input type="number" name="tocka" id="">
                <h5>,</h5>
                <input type="number" name="tocka">
                <h5>,</h5>
                <input type="number" name="tocka" id="">
                <h5>)</h5>
            </div>
        </div>
    </div>
    <div class="centriraj">
        <button type="submit" class="centriraj">Posalji zadatak</button>
    </div>    
</form>
<div id="rijesenje">

</div>