<form hx-post="/polinomi" class="stupac">
    <div class="centriraj poravnaj">
        <h5>Polinom p(x)</h5>
        <input type="text" name="polinom" id="">
    </div>
    <div class="centriraj stupac">
        <h5>Polinom p pri dijeljenju sa</h5>
        <div class="poravnaj">
            <h5>q(x)=</h5>
            <input type="text" name="polinomQ" id="">
        </div>
        <h5>daje</h5>
        <input type="number" name="rezultat" id="">
    </div>
    <button type="submit">Podnesi zadatak</button>
</form>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Postupak
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
  </div>